@page "/verifyAuth"

<h3>VerifyAuth</h3>
@if (isAuthenticated)
{
    <h4>@userName is authenticaded.</h4>
    <ul>
        <li>Access to admin role: @isAdminUser</li>
        <li>Access to cashier role: @isCashier</li>
        <li>Access to manager role: @isManager</li>
    </ul>
}
else
{
    <h4>the user is not authencitated</h4>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    private bool isAuthenticated = false;
    private string userName;
    private bool isAdminUser = false;
    private bool isCashier = false;
    private bool isManager = false;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        if (authState.User.Identity.IsAuthenticated)
        {
            isAuthenticated = true;
            userName = authState.User.FindFirst(ClaimTypes.Name).Value;
            isAdminUser = authState.User.IsInRole("Admin");
            isCashier = authState.User.IsInRole("Cashier");
            isManager = authState.User.IsInRole("Manager");
        }
    }
}
